# Configurações do Supabase para a Loja Silva e Sol
SUPABASE_URL=https://mectakvagdaoygqmbnth.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lY3Rha3ZhZ2Rhb3lncW1ibnRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1OTYxMTksImV4cCI6MjEwNTE3MjExOX0.D8hya7J4d7WeOrOLfPRiQ4cXL5EOmV0ZnFFg_x3SKMc
SUPABASE_STORAGE_BUCKET=midias
